WebContent/wsdl/alignmentimport_schema1.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:tns="http://model.aridus.uern.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://model.aridus.uern.br/" version="1.0">
<xs:element name="alignImport" type="tns:alignImport"/>
<xs:element name="alignImportResponse" type="tns:alignImportResponse"/>
<xs:complexType name="alignImport">
    <xs:sequence>
      <xs:element minOccurs="0" name="urlid" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="alignImportResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
